<ul class="nav">
    <li class="nav-title"><p>task</p></li>
	<li class="nav-item"><%= link_to'追加', "/tasks/new", class: "nav-link" %></li>
    <li class="nav-item"><%= link_to'完了済', "/tasks/complete", class:"nav-link" %></li>
    <li class="nav-item"><%= link_to'未完了', "/tasks/incomplete", class:"nav-link" %></li>
    <li class="nav-item"><%= link_to'今日の予定', "/tasks/today", class:"nav-link" %></li>
    <li class="nav-item"><%= link_to'明日以降の予定', "/tasks/tomorrow", class:"nav-link" %></li>
</ul>	