<div class="events-wrapper">
  <div class="container">
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right new_event">
          <div class="events">
            <div class="events-menu">
              <ul class="nav">
                <li class="nav-title"><p>new task</p></li>
              </ul>	
            </div>
            <div class="events-display">
              <%= nested_form_for(@task, local:true) do |f| %>
                <div class="main-select">
                <%= render 'layouts/error_messages', model: f.object %>
                  <div class="form-group form-check">
                    <%= link_to('', tasks_path,class:"fas fa-2x fa-arrow-left back-icon") %>
                    <button type="submit" class="submit"><i class="fas fa-2x fa-check"></i></button>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :title, class:"group-text", placeholder:"タイトル" %>
                  </div>
                  <div class="form-group">
                    <div class="group-label">
                      <%= f.label :deadline_date, "締切" %>
                    </div>
                    <div class="group-inner">
                      <%= f.date_select :deadline_date %>
                    </div>
                  </div>
                  <div class="form-group">
                  <p class="sub-task-plus">サブタスクを追加する</p>
                  <div class="form-group sub-task-form">
                    <%= f.fields_for :sub_tasks do |f| %>
                      <%= f.text_field :title ,class:"sub-task-title",placeholder:"サブタスク" %>
                      <%= f.hidden_field :status, :value => false %>
                      <%= f.link_to_remove "",class:"fas fa-times" %>
                      <%= f.check_box :_destroy %>
                    <% end %>
                    <%= f.link_to_add "", :sub_tasks, data: { limit: 5 },class:"fas fa-plus" %>
                  </div>
                  <div class="form-group status">
                    <%= f.hidden_field :status, :value => false %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :description, class:"group-text", placeholder:"メモ" %>
                  </div>
                </div>
            <% end %>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
