<div class="events-wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right index_event">
        <div class="events">
        <div class="events-menu">
          <%= render 'index_nav' %>
        </div>
        <div class="events-display">
          <div class="main-select">
            <div class="today-task">
              <div class="task-table-title">
                <p>今日のタスク</p>
              </div>
              <% if @today_tasks.length == 0 %>
              <div class="main-task-not">
                <p>本日のタスクはありません</p>
              </div>
              <% else %>
              <div class="main-task-table">
                <% @today_tasks.each do |task| %>
                  <table class="task-select">
                    <tr class="main-task">
                      <% if task.status == false %>
                        <td class="main-task-check"><label><input type="checkbox" name="status"  data-id="<%= task.id %>"  class="status_<%= task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                      <% else %>
                        <td class="main-task-check" ><label><input type="checkbox" name="status"  data-id="<%= task.id %>"  checked="checked" class="status_<%= task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                      <% end %>
                        <td class="main-task-inner" data-id="<%= task.id %>">
                          <p class="main-task-title"><%= task.title %></p>
                          <i class="far fa-calendar"></i>
                          <p class="deadline"><%= task.deadline_date.strftime('%Y/%m/%d') %></p>
                          <p class="status-size">ステップ <%= task.sub_tasks.size() %></p>
                        </td>
                    </tr>
                  </table>
                <% end %>
              </div>
              <% end %>
            </div>
            <div class="incomplete-task">
              <div class="task-table-title">
                <p>期限切れのタスク</p>
              </div>
              <% if @incomplete_tasks.length == 0 %>
              <div class="main-task-not">
                <p>本日のタスクはありません</p>
              </div>
              <% else %>
              <div class="main-task-table">
                <% @incomplete_tasks.each do |task| %>
                  <table class="task-select">
                    <tr class="main-task">
                      <% if task.status == false %>
                        <td class="main-task-check"><label><input type="checkbox" name="status"  data-id="<%= task.id %>"  class="status_<%= task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                      <% else %>
                        <td class="main-task-check" ><label><input type="checkbox" name="status"  data-id="<%= task.id %>"  checked="checked" class="status_<%= task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                      <% end %>
                      <td class="main-task-inner" data-id="<%= task.id %>">
                        <p class="main-task-title"><%= task.title %></p>
                        <i class="far fa-calendar"></i>
                        <p id="incomplete-deadline" class="deadline"><%= task.deadline_date.strftime('%Y/%m/%d') %></p>
                        <p class="status-size">ステップ <%= task.sub_tasks.size() %></p>
                      </td>
                    </tr>
                  </table>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
