<div class="events-wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right index_event">
        <div class="events">
        <div class="events-menu">
        <%= render 'index_nav' %>
        </div>
        <div class="events-display">
          <div class="main-select">
            <div class="select-menu">
              <div class="select-icon left-icon">
                <%= link_to('', tasks_path, class:"fas fa-2x fa-arrow-left") %>
              </div>
              <div class="select-icon right-icon">
                <%= link_to('', @task, method: :delete, class:"fas fa-2x fa-trash-alt") %>
                <%= link_to('編集', edit_task_path(@task.id)) %>
              </div>
            </div>
            <div class="task-show-group task-inner">
              <table class="task-show-select">
                <tr class="main-task-show">
                  <% if @task.status == false %>
                    <td class="main-task-check"><label><input type="checkbox" name="status"  data-id="<%= @task.id %>"  class="status_<%= @task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                  <% else %>
                    <td class="main-task-check" ><label><input type="checkbox" name="status"  data-id="<%= @task.id %>"  checked="checked" class="status_<%= @task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                  <% end %>
                    <td class="task-show-inner" data-id="<%= @task.id %>"><p class="main-task-title"><%= @task.title %></p></td>
                </tr>
              </table>
              <table class="task-show-select sub">
                <% @task.sub_tasks.each do |sub_task| %>
                  <tr class="sub-task-show">
                    <td></td>
                  <% if sub_task.status == false %>
                    <td class="sub-task-check"><label><input type="checkbox" name="sub_status"  data-id="<%= sub_task.id %>" data-task_id="<%= @task.id %>"  class="sub_status_<%= @task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                  <% else %>
                    <td class="sub-task-check" ><label><input type="checkbox" name="sub_status"  data-id="<%= sub_task.id %>" data-task_id="<%= @task.id %>" checked="checked" class="sub_status_<%= sub_task.id %>"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></label></td>
                  <% end %>
                    <td class="sub-show-inner" data-id="<%= @task.id %>"><p class="main-task-title"><%= sub_task.title %></p></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <div class="task-show-group task-deadline">
              <div class="select-inner task-deadline-logo">
                <i class="far fa-calendar"></i>
              </div>
              <div class="select-inner task-deadline-inner">
                <p class="deadline"><%= @task.deadline_date.strftime('%Y/%m/%d') %></p>
              </div>
            </div>
            <div class="task-show-group task-note">
              <div class="select-inner task-note-logo">
                <i class="far fa-sticky-note"></i>
              </div>
              <div class="select-inner task-note-inner">
                <p><%= @task.description %></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

