<div class="events-wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right index_event">
        <div class="events">
        <div class="events-menu">
        <%= render 'index_nav' %>
        </div>
        <div class="events-display">
        <div class="user-image">
        <%= link_to(image_tag(@user.image), "/users/#{@user.id}") %>
      </div>
      <div class="evnet-content">
        <table class="event-description">
          <tr>
            <th>予定</th>
            <td><%= @task.title %></td>
          </tr>
          <tr>
            <th>日時</th>
            <td><%= @task.deadline_date.strftime('%Y 年 %m 月 %d 日 %H:%M') %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td><%= @task.description %></td>
          </tr>
        </table>
      </div>
      <% @task.sub_tasks.each do |sub_task| %>
        <%= sub_task.title %>
        <% end %>
      <% if @task.user_id == @current_user.id %>
        <div class="event_menu">
          <%= link_to("edit","/tasks/#{@task.id}/edit") %>
          <%= link_to("Destroy", "/tasks/#{@task.id}/destroy", {method: "post"}) %>
          <%= link_to("戻る", "/tasks/index") %>
        </div>
      <% end %>
    </div>
        </div>
      </div>
        </div>
    </div>
  </div>
</div>