<div class="container-md">
  <div class="main">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_with model: @user, url:"/users/#{@user.id}/update", multipart: true do |f| %>
          <dl>
            <dt>name</dt>
            <dd><%= f.text_field :name %></dd>
            <dt>email</dt>
            <dd><%= f.email_field :email %></dd>
            <dt>password</dt>
            <dd><%= f.password_field :password %></dd>
            <dt>image</dt>
            <dd><%= f.file_field :image %></dd>
            <p class="action"><%= f.submit value:"登録" %></p>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>
