<div class="main users-new">
  <div class="container">
    <h1>Users#new</h1>
    <p>Find me in app/views/users/new.html.erb</p>
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <div class="form-body">
        <%= form_with model: @user, url:"/users/create" do |form| %>
          <div class="field" >
            <%= form.label :name %>
            <%= form.text_field :name %>
          </div>
          <div class="field" >
            <%= form.label :email %>
            <%= form.email_field :email %>
          </div>
          <div class="field" >
            <%= form.label :password %>
            <%= form.text_field :password %>
          </div>
          <div class="action" >
            <%= form.submit value:"登録" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
