<div class="container-md">
  <div class="main">
    <section class="sec_content">
      <div class="split-box content_left">
        <div id="calendar" style="width:600px;height:auto;"></div>
      </div>
      <div class="split-box content_right">
        <div class="user">
          <% if @user.image.attached? %>
            <%= image_tag @user.image %>
          <% else %>
            <%= image_tag "/user_images/default_user.jpg" %>
          <% end %>
          <h2><%= @user.name%></h2>
          <p><%= @user.email%></p>
          <% if @user.id == @current_user.id %>
          <%= link_to("編集","/users/#{@user.id}/edit") %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>

