<div class="events-wrapper">
  <div class="container">
    <div class="center-inner">
			<div class="events">
        <div class="events-menu">
            <p class="menu-title"><%= @user.name %></p>
        </div>
        <div class="events-display">
          <div class="main-select">
            <div class="user-image">
              <% if @user.image.attached? %>
                <%= image_tag @user.image %>
              <% else %>
                <%= image_tag "/user_images/default_user.jpg" %>
              <% end %>
            </div>
            <div class="form-group">
              <%= @user.email%>
            </div>
            <div class="form-group">
              <% if @user.id == @current_user.id %>
                <%= link_to("編集",edit_user_path(@user), class:"btn") %>
              <% end %>
              <%= link_to("戻る", "/events/index", class: "btn") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
