    <h1>新規イベント追加</h1>
    <%= form_with(model: event, url: '/events/create') do |f| %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, required: true %>
            </div>
            <div class="form-group">
                <%= f.label :start %>
                <%= f.datetime_select :start %>
            </div>
            <div class="form-group">
            <%= f.label :end %>
            <%= f.datetime_select :end %>
        </div>
            <div class="form-group">
                <%= f.submit value:"投稿" %>
            </div>
<% end %>

