        <h1>新規イベント追加</h1>
    <%= form_with(model: event, url: '/events/create') do |f| %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, required: true %>
            </div>
            <div class="form-group">
                <%= f.label :starts_at %>
                <%= f.datetime_select :starts_at %>
            </div>
            <div class="form-group">
            <%= f.label :ends_at %>
            <%= f.datetime_select :ends_at %>
        </div>
            <div class="form-group">
                <%= f.submit value:"投稿" %>
            </div>
    <% end %>