          <div class="events">
            <div class="events-menu">
            <%= render 'events/index_nav' %>
            </div>
            <div class="events-display">
              <%= form_with model: @event, local: true do |f| %>
                <div class="main-select">
                  <div class="form-group form-check">
                    <%= link_to('', events_path, class:"fas fa-2x fa-arrow-left back-icon") %>
                    <button type="submit" class="submit"><i class="fas fa-2x fa-check"></i></button>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :title, class:"group-text",placeholder:"タイトル" %>
                  </div>
                  <div class="form-group form-allDay">
                    <div class="group-label-allDay">
                      <%= f.label :allDay,"allDay"%>
                    </div>
                    <div class="group-inner">
                      <%= f.check_box :allDay, :as => :boolean %>
                    </div>
                  </div>
                  <div class="form-group hidden-if-allday">
                    <div class="group-label">
                      <i class="fas fa-2x fa-angle-double-right"></i>
                    </div>
                    <div class="group-inner hidden-if-allday">
                      <%= f.datetime_select :start, class:"hidden-if-allday" %>
                    </div>
                  </div>
                  <div class="form-group hidden-if-allday">
                    <div class="group-label">
                      <i class="fas fa-2x fa-angle-double-left"></i>
                    </div>
                    <div class="group-inner hidden-if-allday">
                      <%= f.datetime_select :end, class:"hidden-if-allday" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="radio radio-item">
					  <%= f.collection_radio_buttons(:calendar_id, @titles, :id, :title, include_hidden: false) do |b| %>
						<%= b.radio_button %><%= b.label for:"calendar-radio" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.text_field :place,class:"group-text", placeholder:"場所" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :description,class:"group-text",placeholder:"メモ" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
