<div class="events">
  <div class="events-menu">
    <ul class="nav">
      <li class="nav-title"><p>event</p></li>
      <li class="nav-item"><%= link_to'予定表', "/events/index", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to'今日の予定', "/events/today", class:"nav-link" %></li>
      <li class="nav-item"><%= link_to'予定を追加',"/events/new",class:"nav-link" %></li>
    </ul>	
  </div>
  <div class="events-display">
    <table class="event-select">
      <tr>
        <th>user<th>
        <th>title</th>
        <th>time</th>
      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= link_to(event.user.name,"/users/#{event.user.id}") %></td>
        <td><%= event.title %></td>
        <td><%= event.start.strftime('%Y 年 %m 月 %d 日 %H:%M') %></td>
        <td><%= event.end.strftime('%Y 年 %m 月 %d 日 %H:%M') %></td>
        <td><%= link_to("show","/events/#{event.id}") %></td>
        <td><%= link_to("edit","/events/#{event.id}/edit") %></td>
        <td><%= link_to("Destroy", "/events/#{event.id}/destroy",{method: "post"}) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>