<div class="events">
    <div class="events-menu">
    <%= render 'events/form_nav' %>
    </div>
    <div class="events-display">
        <div class="main-select">
            <div class="events-select">
                <p class="table-title">終日</p>
                <table class="event-select">
                    <% @events.each do |event| %>
                        <tr>
                            <td class="event-time">終日</td>
                            <td class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                            <% if event.user.image.attached? %>
                                <td class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                            <% else %>
                                <td class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"),edit_user_path(event.user.id)) %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>