				<div class="events">
  				<div class="events-menu">
    				<ul class="nav">
					  <li class="nav-title"><p id="w1">予定の詳細</p></li>
					  <li class="nav-item item-plus"><%= link_to'', new_event_path, class: "fas fa-plus" %></li>
    				</ul>	
  				</div>
				  <div class="events-display">
						<div class="main-select">
							<div class="select-menu">
								<div class="select-icon left-icon">
									<%= link_to('', events_path, class:"fas fa-2x fa-arrow-left") %>
								</div>
								<div class="select-icon right-icon">
									<%= link_to('', @event, method: :delete, class:"fas fa-2x fa-trash-alt") %>
									<%= link_to('編集', edit_event_path(@event.id)) %>
								</div>
							</div>
							<div class="select-group select-user">
								<% if @user.image.attached? %>
									<%= link_to(image_tag(@current_user.image),edit_user_path(@user)) %>
								<% else %>
									<%= link_to(image_tag("/user_images/default_user.jpg"),edit_user_path(@user)) %>
								<% end %>
							</div>
							<div class="select-group select-calendar">
								<div class="calendar-icon">
									<i class="far fa-calendar"></i>
								</div>
								<div class="calendar-title" style="color:<%= @event.color %>">
									<%= @calendar.title  %>
								</div>
							</div>
							<div class="select-group select-title", style="color:<%= @event.color %>">
								<%= @event.title %>
							</div>
							<div class="select-group time-group">
								<% if @event.allDay == false %>
									<table>
										<tr>
											<td class="date"><%= @event.start.strftime('%Y/%m/%d') + @dayofweekstart %></td>
											<td rowspan="2"><i class="fas fa-3x fa-angle-right" style="color:<%= @event.color %>"></i></td>
											<td class="date"><%= @event.end.strftime('%Y/%m/%d') + @dayofweekend %></td>
										</tr>
										<tr>
											<td class="time"><%= @event.start.strftime('%H:%M') %></td>
											<td class="time"><%= @event.end.strftime('%H:%M') %></td>
										</tr>
									</table>
								<% elsif @event.allDay == true &&  @event.start.tomorrow.beginning_of_day === @event.end %>
									<div class="alldaydate">
									<%= @event.start.strftime('%Y/%m/%d') + @dayofweekstart %>
									</div>
								<% else %>
									<table>
										<tr>
											<td class="alldaydate"><%= @event.start.strftime('%Y/%m/%d') + @dayofweekstart %></td>
											<td><i class="fas fa-2x fa-angle-right" style="color:<%= @event.color %>"></i></td>
											<td class="alldaydate"><%= @event.end.strftime('%Y/%m/%d') + @dayofweekend %></td>
										</tr>
									</table>
								<% end%>
							</div>
							<div class="select-group show_hide_row">
								<i class="fas fa-plus"></i>
							</div>
							<div class="hidden_row select-description">
								<div class="select-group">
									<div class="map-icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="group-map">
										<%= @event.place %>
									</div>
								</div>
								<div class="select-group note">
									<div class="note-icon">
										<i class="far fa-sticky-note"></i>
									</div>
								</div>
								<div class="select-group group-note">
										<%= @event.description %>
								</div>
							</div>
						</div>
					</div>
				</div>
