<div class="page-main">
	<aside class="right-sidebar">
		<div class="sidebar-inner">
		<% if @current_user %>
			<ul>
				<li class="user-edit"><%= link_to("編集","/users/#{@current_user.id}/edit") %></li>
				<% if @current_user.image.attached? %>
					<li class="user-image"><%= link_to(image_tag(@current_user.image), "/users/#{@current_user.id}/edit") %></li>
				<% else %>
					<li><%= link_to(image_tag("/user_images/default_user.jpg"),"/users/#{@current_user.id}/edit") %></li>
				<% end %>
				<li class="user-name"><p><%= @current_user.name %></p></li>
				<li class="side-inner"><%= link_to("calendar", "/events/index") %></li>
				<li class="side-inner"><%= link_to("task", "/tasks/index") %></li>
				<li class="side-inner"><%= link_to("new","/events/new") %></li>
				<li class="side-inner"><%= link_to("logout", "/logout", {method: :post}) %></li>
			</ul>
		<% else %>
			<ul>
				<li class="side-inner"><%= link_to("signup", "/signup") %></li>
				<li class="side-inner"><%= link_to("login", "/login") %></li>
			</ul>
		<% end %>
		</div>
	</aside>
<div>
