<div class="calendar-select">
  <div class="checkbox">
    <%= form_with(model: @event, url:'/select', remote: true) do |form| %>
        <%= collection_check_boxes(:event, :calendar_id, Calendar.where(user_id: @current_user.id), :id, :title,include_hidden: false) do |b| %>
          <%= b.check_box + b.label{b.text} %>
        <% end %>
    <% end %>
  </div>
  <div class="button1">
    <%= button_to "全てチェック" %>
  </div>
  <div class="nav">
    <%= link_to("カレンダーを追加する","/calendars/new") %>
  </div>
</div>
