<div class="events-wrapper">
  <div class="container">
    <div class="inner">
        <div class="split-box inner-left">
          <div id="calendar"></div>
        </div>
        <div class="split-box inner-right new_event">
          <div class="events">
            <div class="events-menu">
            <%= render 'events/form_nav' %>
            </div>
            <div class="events-display">
            <%= form_with model: @event, local: true do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
              <div class="form-check">
                <%= link_to('', :back, class:"fas fa-2x fa-arrow-left back-icon") %>
                <button type="submit" class="submit event_sub"><i class="fas fa-2x fa-check"></i></button>
              <%= link_to('', event_path, method: :delete, class:"fas fa-2x fa-trash-alt") %>
              </div>
                <div class="main-select">
                  <div class="form-group">
                    <%= f.text_field :title, class:"group-text",placeholder:"タイトル" %>
                  </div>
                  <div class="form-group form-allDay">
                    <div class="group-label-allDay">
                    <%= f.label :allDay,"allDay"%>
                    </div>
                    <div class="group-inner">
                    <%= f.check_box :allDay, :as => :boolean %>
                    </div>
                  </div>
                  <div class="form-group hidden-if-allday">
                    <div class="group-label">
                      <i class="fas fa-2x fa-angle-double-right"></i>
                    </div>
                    <div class="group-inner hidden-if-allday">
                      <%= f.datetime_select :start, class:"hidden-if-allday" %>
                    </div>
                  </div>
                  <div class="form-group hidden-if-allday">
                    <div class="group-label">
                      <i class="fas fa-2x fa-angle-double-left"></i>
                    </div>
                    <div class="group-inner hidden-if-allday">
                      <%= f.datetime_select :end, class:"hidden-if-allday" %>
                    </div>
                  </div>
                  <div class="form-group radio btn-group btn-group-vertical" data-toggle="buttons">
                  <% @titles.each do |t| %>
                      <label class="btn">
                        <input type="radio" name="event[calendar_id]" value="<%= t.id %>" ><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span><%= t.title %></span>
                      </label>
                  <% end %>
                </div>
                  <div class="form-group">
                    <%= f.text_field :place,class:"group-text", placeholder:"場所" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :description,class:"group-text",placeholder:"メモ" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>