<div class="container-md">
  <div =class"main">
  <section class="sec_content">
      <div class="split-box content_left">
        <%= render 'events/select' %>
        <div id="calendar" style="width:600px;height:auto;"></div>
      </div>
      <div class="split-box content_right index_event">
      <%= render 'index_nav' %>
          <table>
            <tr>
              <th>user<th>
              <th>title</th>
              <th>time</th>
            </tr>
            <% @events.each do |event| %>
            <tr>
              <td><%= link_to(event.user.name,"/users/#{event.user.id}") %></td>
              <td><%= event.title %></td>
              <td><%= event.start.strftime('%Y 年 %m 月 %d 日 %H:%M') %></td>
              <td><%= event.end.strftime('%Y 年 %m 月 %d 日 %H:%M') %></td>
              <td><%= link_to("show","/events/#{event.id}") %></td>
              <td><%= link_to("edit","/events/#{event.id}/edit") %></td>
              <td><%= link_to("Destroy", "/events/#{event.id}/destroy",{method: "post"}) %></td>
            </tr>
            <% end %>
          </table>
      </div>
    </section>
  </div>
</div>