<div class="wrapper">
  <div class="container">
    <%= render 'events/select' %>
    <div class="inner">
      <div class="split-box inner-left">
        <div id="calendar"></div>
      </div>
      <div class="split-box inner-right index_event">
      <div class="events">
      <div class="events-menu">
      <%= render 'events/form_nav' %>
        </div>
        <div class="events-display">
          <div class="main-select">
            <div class="date-title">
              <%= @today.strftime('%Y年%m月%d日') + @todaydayofweek %>
            </div>
            <% if @allday_events.length + @today_events.length + @continued_events.length + @after_events.length + @before_events.length <= 0 %>
            <div class="not-event">
              <p>今日の予定はありません</p>
            </div>
            <% else %>
            <div class="main-select-scroll">
              <div class="events-select">
                <% if @allday_events.length >0 %>
                <p class="table-title">終日</p>
                <table class="event-select">
                  <% @allday_events.each do |event| %>
                    <tr>
                      <td class="event-time">終日</td>
                      <td class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                      <% if event.user.image.attached? %>
                        <td class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                      <% else %>
                        <td class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"),edit_user_path(event.user.id)) %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </table>
                <% end %>
              </div>
              <div class="events-select">
              <% if @am_events.length >0 %>
              <p class="table-title">午前 00:00~12:00</p>
              <table class="event-select">
                <% @am_events.each do |event| %>
                  <tr>
                    <td class="event-time"><%= event.start.strftime('%H:%M') %></td>
                    <td rowspan="2" class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                    <% if event.user.image.attached? %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                    <% else %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"), edit_user_path(event.user.id)) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="event-time"><%= event.end.strftime('%H:%M') %></td>
                  </tr>
                <% end %>
              </table>
              <% end %>
              </div>
              <div class="events-select">
              <% if @pm_events.length >0 %>
              <p class="table-title">午後 00:00~12:00</p>
              <table class="event-select">
                <% @pm_events.each do |event| %>
                  <tr>
                    <td class="event-time"><%= event.start.strftime('%H:%M') %></td>
                    <td rowspan="2" class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                    <% if event.user.image.attached? %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                    <% else %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"), edit_user_path(event.user.id)) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="event-time"><%= event.end.strftime('%H:%M') %></td>
                  </tr>
                <% end %>
              </table>
              <% end %>
              </div>
              <div class="events-select">
              <% if @before_events.length >0 %>
              <p class="table-title continued">前日からの予定</p>
              <table class="event-select">
                <% @before_events.each do |event| %>
                  <tr>
                    <td class="event-time"><%= event.start.strftime('%m/%d') %></td>
                    <td rowspan="2" class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                    <% if event.user.image.attached? %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                    <% else %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"), edit_user_path(event.user.id)) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="event-time"><%= event.end.strftime('%H:%M') %></td>
                  </tr>
                <% end %>
              </table>
              <% end %>
              </div>
              <div class="events-select">
              <% if @after_events.length >0 %>
              <p class="table-title continued">明日にかけての予定</p>
              <table class="event-select">
                <% @after_events.each do |event| %>
                  <tr>
                    <td class="event-time"><%= event.start.strftime('%H:%M') %></td>
                    <td rowspan="2" class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                    <% if event.user.image.attached? %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                    <% else %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"), edit_user_path(event.user.id)) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="event-time"><%= event.end.strftime('%m/%d') %></td>
                  </tr>
                <% end %>
              </table>
              <% end %>
              </div>

              <div class="events-select">
              <% if @continued_events.length >0 %>
              <p class="table-title continued">継続中の予定</p>
              <table class="event-select">
                <% @continued_events.each do |event| %>
                  <tr>
                    <td class="event-time"><%= event.start.strftime('%H:%M') %></td>
                    <td rowspan="2" class="event-title" style="border-left-color: <%= event.color %>;"><%= link_to(event.title, event) %></td>
                    <% if event.user.image.attached? %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag(event.user.image), edit_user_path(event.user.id)) %></td>
                    <% else %>
                      <td rowspan="2" class="event-user-image"><%= link_to(image_tag("/user_images/default_user.jpg"), edit_user_path(event.user.id)) %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="event-time"><%= event.end.strftime('%m/%d') %></td>
                  </tr>
                <% end %>
              </table>
              <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
