<div class="main events-index">
  <div =class"container">
  <%= render 'events/select' %>
    <section class="sec_content">
      <div class="split-box content_left">
        <h1>Events#index</h1>
        <div id="calendar" style="width:600px;height:auto;"></div>
      </div>
      <div class="split-box content_right">
      <div id="modal">
      <div class="modal-body"></div>
      </div>
        <% @events.each do |event| %>
          <table>
            <tr>
              <th>user<th>
              <th>title</th>
              <th>time</th>
            </tr>
            <tr>
              <td><%= link_to(event.user.name,"/users/#{event.user.id}") %>
              <td><%= event.title %></td>
              <td><%= event.start %></td>
              <td><%= event.end %></td>
              <td><%= link_to("show","/events/#{event.id}") %></td>
              <td><%= link_to("edit","/events/#{event.id}/edit") %></td>
              <td><%= link_to("Destroy", "/events/#{event.id}/destroy",{method: "post"}) %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </section>
  </div>
</div>