<div class="container-md">
  <div =class"main">
    <section class="sec_content">
      <div class="split-box content_left">
        <%= render 'events/select' %>
        <div id="calendar" style="width:600px;height:auto;"></div>
      </div>
      <div class="split-box content_right new_event">
        <%= form_with model: @event, url:"/events/create" do |f| %>
          <dl>
            <dt>予定</dt>
            <dd><%= f.text_field :title %></dd>
            <dt>終日</dt>
            <dd><%= f.check_box :allDay, :as => :boolean %></dd>
            <dt class="hidden-if-allday">開始日時</dt>
            <dd class="hidden-if-allday"><%= f.datetime_select :start %></dd>
            <dt class="hidden-if-allday">終了日時</dt>
            <dd class="hidden-if-allday"><%= f.datetime_select :end %></dd>
            <dt class="visible-if-allday">開始日</dt>
            <dd class="visible-if-allday"><%= f.date_select :start_on %></dd>
            <dt class="visible-if-allday">終了日</dt>
            <dd class="visible-if-allday"><%= f.date_select :end_on %></dd>
            <div class="radion">
            <%= f.collection_radio_buttons(:calendar_id, @titles, :id, :title, include_hidden: false) do |b| %>
              <dd class="radio-item"><%= b.label {b.radio_button + b.text} %>
              </dd>
            <% end %>
            </div>
            <dt>場所</dt>
            <dd><%= f.text_field :place %></dd>
            <dt>詳細</dt>
            <dd><%= f.text_area :description %></dd>
          </dl>
          <p class="action" ><%= f.submit value:"投稿" %></p>
        <% end %>
      </div>
    </section>
  </div>
</div>
