<!DOCTYPE html>
<html>
  <head>
    <title>MarkCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
<body>
  <header>
    <div class="header-logo">
      <% if @current_user %>
        <%= link_to("Mark_Calender", "/events/index") %>
      <% else %>
        <%= link_to("", "/events/index") %>
      <% end %>
    </div>
    <div class="header-menus">
       <% if @current_user %>
        <li><%= link_to("about", "/events/index") %></li>
        <li><%= link_to("task", "/tasks/index") %></li>
        <li><%= link_to("new","/events/new") %></li>
        <li><%= link_to("logout", "/logout", {method: :post}) %></li>
      <% else %>
        <li><%= link_to("about", "/") %></li>
        <li><%= link_to("login","/login") %></li>
        <li><%= link_to("signup","/signup") %></li>
      <% end %>
    </div>
    <div class="user-menus">
      <% if @current_user %>
        <li><%= link_to(image_tag(@current_user.image), "/users/#{@current_user.id}") %></li>
      <% end %>
    </div>
  </header>
    <% if flash[:notice] %>
      <div class="flash time-limit">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
</body>
</html>