<!DOCTYPE html>
<html>
  <head>
    <title>MarkCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e442e2cc3b.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header>
    <div class="header-container">
      <div class="header-left">
        <% if @current_user %>
          <li><%= link_to("Mark_Calender", "/events/index") %></li>
        <% else %>
          <li class="logo"><p>Mark_Calendar</p></li>
        <% end %>
      </div>
      <span id="menu-icon" class="fa fa-bars"></span>
      <div class="header-right">
      <% if @current_user %>
       <li><%= link_to("calendar", "/events/index") %></li>
       <li><%= link_to("task", "/tasks/index") %></li>
       <li><%= link_to("new","/events/new") %></li>
       <li><%= link_to("logout", "/logout", {method: :post}) %></li>
     <% else %>
       <li><%= link_to("about", "/") %></li>
       <li id="login-show"><%= link_to("login","/login") %></li>
       <li><%= link_to("signup","/signup",class:"signup-show") %></li>
     <% end %>
        <% if @current_user %>
          <% if @current_user.image.attached? %>
            <li><%= link_to(image_tag(@current_user.image), "/users/#{@current_user.id}/edit") %></li>
          <% else %>
            <li><%= link_to(image_tag("/user_images/default_user.jpg"),"/users/#{@current_user.id}/edit") %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </header>
  <%= render '/events/form_header' %>
    <% if flash[:notice] %>
      <div class="flash time-limit">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
</body>
</html>